.user-tippy {
  width: 16.5rem;

  .item {
    width: 100%;
    height: 4rem;
    color: #000000de;
    text-decoration: none;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;

    &:hover {
      color: #00bfa5;
    }
  }
}

.arrow-tippy {
  width: 2.8rem;
  height: 1rem;
  top: -10px;
  border-bottom: 10px solid rgb(255, 255, 255);
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}
