.cart {
  width: 13.8rem;
  display: flex;
  justify-content: center;
  position: relative;

  .cart_link {
    text-decoration: none;
    position: relative;
    padding: 0.5rem;

    .cart_icon {
      width: 2.6rem;
      height: 2.6rem;
      color: var(--nc-white);
    }

    .number_badge {
      position: absolute;
      top: -2px;
      right: -12px;
      padding: 0 0.7rem;
      margin: 0;
      height: 2rem;
      border: 0.2rem solid var(--brand-primary-color);
      color: var(--brand-primary-color);
      background-color: var(--nc-white);
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4.4rem;
      line-height: 1.92rem;
    }
  }

  .tippy-box {
    position: absolute;
    right: 0;
    top: calc(100% + 4px);
    transform-origin: 330px -8px;
    transform: scale(0);
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &.show {
      opacity: 1;
      transform: scale(1);
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      opacity: 1;
      transform: scale(1);
    }

    .content {
      width: 40rem;

      .arrow-tippy {
        position: absolute;
        width: 2.8rem;
        height: 1rem;
        top: -10px;
        right: 54px;
        border-bottom: 10px solid var(--nc-white);
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
      }

      .title {
        width: 100%;
        height: 4rem;
        color: #00000042;
        font-size: 1.4rem;
        font-weight: 400;
        padding-left: 1rem;
        margin: 0;
        display: flex;
        align-items: center;
      }

      .cart_list {
        width: 100%;
      }

      .footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6rem;
        background-color: #fdfdfd;
        font-size: 1.2rem;
        padding: 1rem;
        color: #000000cc;

        .text {
          margin: 0;
        }

        .btn {
          border-radius: 2px;
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          color: var(--nc-white);
          padding: 0 1.5rem;
          background-color: #ee4d2d;
          text-decoration: none;
          height: 3.4rem;
          margin-left: auto;
        }
      }
    }
  }
}

.box {
  width: 40rem;
  background-color: var(--nc-white);

  .img {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 10rem;
      height: 10rem;
    }

    .text {
      font-size: 1.4rem;
      color: #000000cc;
    }
  }
}
