.menu {
  max-height: 30rem;
  overflow-y: scroll;
  position: absolute;
  background-color: var(--nc-white);
  z-index: 100;
  left: 9px;
  right: 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 0;
  display: none;
}

.item {
  font-size: 1.4rem;
  color: #212529;
  padding: 0.8rem 1.6rem;

  &:hover {
    background-color: #0000000a;
    cursor: pointer;
  }
}
