.main_login {
  background-color: #ee4d2d;
  height: 60rem;
  display: flex;
  justify-content: center;

  .content {
    width: 104rem;
    height: 100%;
    background-image: url('https://down-vn.img.susercontent.com/file/sg-11134004-7rbme-loxt03xks8t6fe');
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
