*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

ol,
ul {
  display: none;
}

a {
  text-decoration: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

button,
input {
  outline: none;
  border: none;
}
