:root {
  --nc-white: #fff;
  --nc-black: #000;
  --brand-primary-color: #ee4d2d;

  --focus-indicator-spacing: 3px;
  --focus-indicator-stroke-width: 2px;
  --focus-indicator-color: #000000de;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

ol,
ul,
li,
p {
  list-style: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

button,
input {
  outline: none;
  border: none;
}
