.product_list {
  padding-top: 3rem;
  padding-bottom: 7rem;
  background-color: #f5f5f5;

  .wrapper {
    background-color: var(--nc-white);

    .header {
      font-size: 1.6rem;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ee4d2d;
      font-weight: 500;
      position: sticky;
      top: 119px;
      z-index: 11;
      background-color: var(--nc-white);
      border-bottom: 1px solid #00000017;
      box-shadow: 0 1px 1px 0 #0000000d;

      .underlined {
        height: 0.4rem;
        background-color: #ee4d2d;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}
