.MuiSvgIcon-fontSizeSmall {
  font-size: 1.92rem !important;
}

.MuiSvgIcon-fontSizeMedium {
  font-size: 2.4rem !important;
}

.MuiAutocomplete-option {
  font-size: 1.6rem !important;
}

.MuiAutocomplete-noOptions {
  font-size: 1.6rem;
}
